
     /* RESET */


*,*::after,*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}



      /* VARIABLES*/ 


:root {
/* COLORS */

--Darkcyan: hsl(158, 36%, 37%);
--Cream: hsl(30, 38%, 92%);


--Verydarkblue: hsl(212, 21%, 14%);
--Darkgrayishblue: hsl(228, 12%, 48%);
--White: hsl(0, 0%, 100%);



/* FONTS */
--P:0.875rem; 



/* BORDERS */



} 

       /* UTILITY-CLASSES */
       img {
        width: 100%;
        block-size:100%;
        border-radius: 15px 15px 0 0;
       }



       /* HTML */ 
       html {
        background-color: var(--Cream);
       }


       /* BODY */

       body{
        width:85%;
        height: auto;
        margin:100px auto;
        background-color: var(--White);
        border-radius: 15px;

        
       }



       /* HEADER */

       /* MAIN */
         main {
            padding: 0px 15px 15px;
         }

       /* FOOTER */

       
        
     

       /* FIGURE */
       figure {
         inline-size: 100%;
         border-radius: 15px 15px 0 0;
       }


       .perfume {
        font-family: Montserrat;
        letter-spacing: 6px;
        font-weight: 150;
        margin:17px 0px 10px
       }



       /* PARAGRAPHS */
       p {
        font-size: var(--P);
        font-family:Montserrat;
        margin-bottom: 15px;
        line-height: 1.5;
        font-weight: 300;

        

       }

       .prices {
        text-wrap: nowrap;
       }
       
         span{ 
            
            margin-bottom: 5px;
            display: inline-block;
            
                   
         }

         .price {
            color: var(--Darkcyan);
            font-family: Fraunces;
            font-weight: 700;
            font-size: 1.6rem;
         }
         .discount {
            margin-left: 30px;
            font-size: var(--P);
            text-decoration:line-through;
            font-weight: 300;
            font-family: Montserrat;
         }

       /* Hs */
       h1 {
         font-family: Fraunces;
         margin-bottom: 5px;
         font-weight: 700;
         text-wrap: wrap;
         
       }

       a {
        padding:20px;
        display: block;
        text-align: center;
        font-family: Montserrat;
        background-color: var(--Darkcyan);
        color: var(--White);
        text-decoration: none;
        font-weight: 500;
        border-radius: 7.5px;
       }

       a:hover {
        background-color:  hsl(158, 42%, 21%);
       }

       @media screen and (min-width:1080px) {
        body {
          width: 686px;
          display: grid;
          grid-template-columns: 1fr 1fr;
          margin: 200px auto;
          
        }

        main {
          display: flex;
          flex-direction: column;
          justify-content:space-evenly;
          padding: 25px;
        
          

        }
           h1 {
            font-size: 1.5rem
           }
        .price {
            font-size: 2em;
        }
        .discount {
          font-size: 1.5em;
          font-weight: lighter;
        }

        figure {
          border-radius: 15px 0 0 15px;
        }        
        img {
          border-radius: 15px 0 0 15px;
        }        

        
       }

       
          